.mainBackground {
  background-image: url('../../../assets/mainpage/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  position: relative;
}

.mainBackgroundOverlay {
  background-color: rgba(0, 0, 139, 0.5); /* Navy 색상으로 반투명 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mainTextOnImage {
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 1; /* 텍스트가 배경 위에 오도록 설정 */
}

.mainFont {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.mainFont2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 550;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainFont3 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.625rem;
  font-weight: 700;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-hover {
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.gridContainer {
  margin-top: 2rem;
  padding: 0 2rem;
}

.icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.gridItemText {
  font-size: 1.25rem;
  font-weight: bold;
}
